@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.main {
    height: 100%;
    width: auto;
    margin-left: 200px;
}

/* SIDEBAR - Menu lateral */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4169e1;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ea9d1a;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #4682b4;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* FLEXBOX - Imagem e nome da empresa */
.flex-titlenav {
    display: flex;
    padding: 16px;
    border: 4px solid darkgray;
    height: 200px;
    flex: 1 1 0%;
    gap: 12px;
    align-items: center;
}

.flex-titlenav .img {
    width: 140px;
    height: 140px;
    border: 2px solid black;
    background: #d9f0ff;
}

.flex-titlenav .name {
    flex: 3 1 0%;
    font-weight: 700;
}

/* GRID - Informações do cliente */
.grid-clientinfo {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 
    repeat(2, 1fr);
    padding-block: 2rem;
    width: min(90%, 70rem);
    margin-inline: auto;
}

.grid-clientinfo .company-name {
    height: 32px;
}

.grid-clientinfo .user {
    height: 32px;
}

.grid-clientinfo .email {
    height: 32px;
}

.grid-clientinfo .address {
    height: 32px;
}

.grid-clientinfo .number {
    height: 32px;
}

.grid-clientinfo .complement {
    height: 32px;
}

.grid-clientinfo .CEP {
    height: 32px;
}

.grid-clientinfo .neighborhood {
    height: 32px;
}

.grid-clientinfo .city {
    height: 32px;
}

.grid-clientinfo .estate {
    height: 32px;
}

.grid-clientinfo .phone {
    height: 32px;
}

/* GRID - Controle de acesso Download */
.grid-downloadcontrol {
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: 
    repeat(auto-fit, minmax(500px, 1fr));
    padding-block: 2rem;
    width: min(90%,100rem);
    margin-inline: auto;
}

.mainsection {
    padding: 20px;
}

h3{
    background-color: #4169e1;
    color: white;
}